.github/**
.gitignore
.prettierrc.json
.vscode/**
.vscode-test/**
*.md.nightly
**/*.map
**/tslint.json
build/**
docs/**
node_modules/**
out/**
src/**
test/**
tsconfig.json
typings/**/*
webpack.config.js
!*.md
**/*.md
**/goIcon.png